<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/css/shop/shopWrite.css" />
    <link rel="stylesheet" href="/css/reset.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
      integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <script src="/js/shop/shopWrite.js" defer></script>
  </head>
  <body>
    <div id="container">
      <div id="title" class="section-wrapper">
        <h1>상품등록</h1>
      </div>
      <div id="under-line" class="section-wrapper" />

      <main class="section-wrapper product-wrapper">
        <div>
          <section id="product-thumbnail">
            <div>
              <div class="sub-title">
                썸네일을 등록해주세요.(한장만 등록 가능합니다.)
              </div>
              <input
                type="file"
                accept="image/*"
                id="product-main-image"
                style="display: none"
              />
              <div class="thubnail-wrapper">
                <div id="thumbnail-preview">
                  <img />
                </div>
                <label for="product-main-image">
                  <i class="fa-solid fa-image fa-2x"></i>
                </label>
              </div>
            </div>
          </section>

          <section id="product-options" class="section-wrapper">
            <div>
              <div class="sub-title">제목을 입력해주세요.</div>
              <input type="text" id="product-title" />
            </div>
            <div id="prices">
              <div class="prices-section">
                <div class="section-wrapper sub-title">가격을 적어주세요.</div>
                <div class="prices-input-wrapper" id="price-wrapper">
                  <input
                    type="text"
                    name="price"
                    class="prices-input"
                    id="price-input"
                  />
                </div>
              </div>
              <div class="prices-section">
                <div class="section-wrapper sub-title">
                  할인율을 적어주세요.
                </div>
                <div class="prices-input-wrapper" id="discount-wrapper">
                  <input
                    type="text"
                    name="discount price"
                    class="prices-input"
                    id="discount-input"
                  />
                </div>
              </div>
            </div>
            <div id="options" class="section-wrapper">
              <div class="sub-title">카테고리</div>
              <select id="select">
                <option value="가구" selected>가구</option>
                <option value="디퓨저">디퓨저</option>
                <option value="벽지">벽지</option>
                <option value="타일">타일</option>
              </select>
            </div>

            <div class="section-wrapper">
              <div class="sub-title">
                옵션(*옵션은 제품의 상이한 값들입니다.)
              </div>
              <div class="add-option">
                <button id="add-option-btn"></button>
                <label for="add-option-btn">옵션 추가 +</label>
              </div>
            </div>
          </section>
          <section class="option-wrapper section-wrapper" id="option-wrapper">
            <div class="section-wrapper option">
              <div class="sub-title">옵션 이름</div>
              <div class="option-values">
                <input
                  type="text"
                  placeholder="예)사이즈"
                  class="sub-title option-title"
                  name="optionName-1"
                />
              </div>

              <div class="option-src section-wrapper">
                <div>
                  <div class="sub-title">이름</div>
                  <div>
                    <input
                      type="text"
                      name="optionValue-1"
                      class="optionName"
                    />
                  </div>
                </div>
                <div>
                  <div class="sub-title">가격</div>
                  <div class="prices-input-wrapper">
                    <input
                      type="text"
                      name="optionPrice-1 price"
                      class="prices-input"
                    />
                  </div>
                </div>
                <div class="add-value-wrapper">
                  <button
                    id="option-value-add-btn-0"
                    class="option-v-b-0"
                  ></button>
                  <label for="option-value-add-btn-0"> 값 추가하기 +</label>
                </div>
              </div>
            </div>
          </section>

          <section class="section-wrapper">
            <div class="section-wrapper">
              <div class="sub-title">상품 이미지를 등록해주세요.</div>
              <div id="product-images-wrapper" class="section-wrapper">
                <div id="submit-product-image">
                  <input
                    type="file"
                    multiple
                    id="product-files"
                    accept="image/*"
                    style="display: none"
                  />
                  <label for="product-files" class="product-images-input"
                    ><i class="fa-solid fa-plus fa-2x"></i
                  ></label>
                </div>
              </div>
            </div>
          </section>
          <section class="section-wrapper">
            <div class="submit-wrapper">
              <button id="submit-product">등록하기</button>
            </div>
          </section>
        </div>
      </main>
    </div>

  </body>
</html>
