.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### IntelliJ IDEA ###
.idea/modules.xml
.idea/jarRepositories.xml
.idea/compiler.xml
.idea/libraries/
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store

# for client
**/node_modules
**/dist
**/gltf

### 민감한정보 ###
application-private.properties

###GCS키###
secure-sorter-435306-m4-acbd4a53fc25.json
persuasive-feat-426613-s5-a789fe6d3bc5.json
**/persuasive-feat-426613-s5-a789fe6d3bc5
cosmic-howl-445105-j4-e04e64e7cddd.json
deft-ocean-446417-h4-99fedebcafcb.json
winter-rider-455716-t9-73bb37a367c3.json

application-prod.properties
application-dev.properties


