<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title th:text="${event.eventTitle} + ' 상세 정보'">이벤트 상세 정보</title>
    <link rel="stylesheet" href="/public/css/eventDetail.css" />
  </head>

  <body>
    <div class="container">
      <div class="event-detail">
        <input
          type="hidden"
          id="couponNo"
          readonly
          th:value="${event.coupon.couponNo}"
        />
        <h1 class="event-title" th:text="${event.eventTitle}"></h1>
        <p class="event-content" th:text="${event.eventContent}"></p>
        <img th:src="${event.eventImg}" />
        <!-- <button type="button" onclick="getCoupon()" id="get-coupon">
          쿠폰 발급받기
        </button> -->
        <button type="button" id="get-coupon">쿠폰 발급받기</button>
      </div>
      <a href="/board/event" class="back-link">이벤트 목록으로 돌아가기</a>
    </div>
    <!-- <script>
      function getCoupon() {
        var couponNo = $("#couponNo").val(); // couponNo 가져오기
        console.log("couponNo는: ", couponNo);
        $.ajax({
          type: "POST",
          url: "/get/coupon/" + couponNo,
          contentType: "application/json",
          data: JSON.stringify({ couponNo: couponNo }), // couponNo를 JSON으로 보냄
          success: function (res) {
            alert(res);
          },
          error: function (xhr, status, error) {
            if (xhr.status === 401) {
              alert("로그인이 필요합니다.");
            } else {
              alert(xhr.responseText);
            }
          },
        });
      }
    </script> -->
  </body>
</html>
