<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>csc</title>
</head>

<body>
	<form id="faqWrite" action="/board/faqWrite" method="POST">
		제목: <input type="text" id="faqTitle" name="faqTitle" />
		카테고리: <select id="faqCategory" name="faqCategory">
			<option>회원문의</option>
			<option>주문/결제</option>
			<option>배송문의</option>
			<option>AS문의</option>
			<option>설치문의</option>
			<option>이벤트/포토후기</option>
			<option>기타문의</option>
		</select>
		내용: <textarea id="faqContent" name="faqContent"></textarea>
		<button type="submit">전송하기</button>
	</form>


</body>

</html>