<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>csc</title>
</head>

<body>
	<form id="inquiryWrite" action="/board/inquiry/write" method="POST">
		제목: <input type="text" id="inqTitle" name="inqTitle" />
		카테고리: <select id="inqCategory" name="inqCategory">
			<option>제품-입고</option>
			<option>배송문의</option>
			<option>설치문의</option>
			<option>교환-반품</option>
			<option>AS문의</option>
			<option>기타문의</option>
		</select>
		내용: <textarea id="inqContent" name="inqContent"></textarea>
		<button type="submit">전송하기</button>
	</form>


</body>

</html>