<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>

	<title>비밀번호 확인</title>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>

<body>
이름: <input type = "text" id = "UName" name = "UName"/>
이메일: <input type = "text" id = "UMail" name = "UMail"/>
	<button type = "button" onclick="findUPw()">비밀번호 확인</button>

	
	<script>
	function findUPw(){
		var UName = $('#UName').val();
		var UMail = $('#UMail').val();
		$.ajax({
			
			type:'GET',
			url:'/auth/findPw/' + UName,
			data:{
				UName:UName,
				UMail:UMail
			},
			success:function(res){
				alert('임시 비밀번호가 성공적으로 발급되었습니다. 이메일을 확인해주세요.');
				window.location.href="/auth/login";
			},
			fail:function(res){
				if(res == "fail"){
					alert('사용자의 정보가 없습니다.')
					window.location.href="/auth/login";
				}else{
					alert('사용자의 아이디 또는 비밀번호를 다시 입력해주세요.')
					window.location.href="/auth/findUPw";
				}
			}
			
		});
	}		
	</script>
</body>

</html>