<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8" />
	<title>I Design - Login</title>
	<link rel="stylesheet" href="/css/reset.css" />
	<link rel="stylesheet" href="/css/style.css" />
	<link rel="stylesheet" href="/css/login.css" />
</head>

<body>
	<div class="login-container">
		<!-- 모델에 저장된 에러 메시지가 있을 경우에만 표시 -->
		<div th:if="${loginError}" class="error-message">
			<p th:text="${loginError}"></p>
			<!-- 에러 메시지 표시 후 모델에서 제거 -->
		</div>

		<!-- 로그인 폼 -->
		<div>
			<h1 class="logo">
				<a href="/">
					<img src="/image/logo.png" alt="" />
				</a>
			</h1>
		</div>
		<form class="login-form" method="post" action="/signin" onsubmit="return validateForm()">
			<!-- 사용자 입력 필드 -->
			<label for="UId">아이디</label>
			<input type="text" id="UId" name="UId" />
			<label for="UPw" style="margin-top: 15px">비밀번호</label>
			<input type="password" id="UPw" name="UPw" />
			<!-- 로그인 버튼 -->
			<button type="submit">로그인</button>
		</form>

		<div class="find">
			<a href="/forgot-id">아이디 찾기</a>
			<a href="/forgot-password">비밀번호 찾기</a>
			<a href="/signup" class="memberJoin">회원가입</a>
		</div>

		<!-- snsLogin -->
		<div class="snsLogin">
			<!-- kakao button -->
			<div class="text-center">
				<a href="http://localhost:8080/oauth2/authorization/kakao">
					 <!-- th:href="@{https://kauth.kakao.com/oauth/authorize(client_id=${kakaoApiKey}, redirect_uri=${redirectUri}, response_type='code')}">-->
					<!--<img src="images/kakao_login_medium_wide.png" alt="Kakao Login" /> -->
					<img src="https://upload.wikimedia.org/wikipedia/commons/thumb/d/dd/Kakao_Corp._symbol_-_2012.svg/2226px-Kakao_Corp._symbol_-_2012.svg.png"
						alt="" />
					<span> 카카오톡 로그인 </span>
				</a>
			</div>

			<!-- 구글 -->
			<div class="text-center">
				<!--
				<a
					th:href="@{https://accounts.google.com/o/oauth2/v2/auth(client_id=${googleClientId}, redirect_uri=${googleRedirectUri}, response_type='code', scope=${googleScope})}">-->
					<a href="http://localhost:8080/oauth2/authorization/google">
					<img src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/c1/Google_%22G%22_logo.svg/2048px-Google_%22G%22_logo.svg.png"
						alt="" />
					<span> 구글 로그인 </span>
				</a>
			</div>

			<!-- 네이버 -->
			<div class="text-center">
				<!--
				<a
					th:href="@{https://nid.naver.com/oauth2.0/authorize(response_type='code', client_id=${naverClientId}, redirect_uri=${naverRedirectUri}, state='test')}">-->
					<a href="http://localhost:8080/oauth2/authorization/naver">
					<img src="https://lh3.googleusercontent.com/proxy/qwTpVnl-P2d2blCz4hN98s627Cx4cJP99pQQYWSCvYSUEcZNOOzf3N_6mjQ3e5S31IGNd8kcf1WVkTbCrDh1Yhp_ucv-QP4dDfkeBbjMk_ZS-4xeBVN6VST5"
						alt="" />
					<span> 네이버 로그인 </span>
				</a>
			</div>
		</div>
	</div>

	<!-- JavaScript를 사용하여 알림창 표시 -->
	<script th:inline="javascript">
		/*<![CDATA[*/
		window.onload = function () {
			var errorMessage = document.querySelector(".error-message");
			var cartMsg = /*[[${cartMsg}]]*/ ''; // cartMsg 변수를 렌더링
			var deactivatedError = /*[[${deactivatedError}]]*/ ''; // 비활성화된 계정 에러 메시지
			var userNo = /*[[${userNo}]]*/ '';

			// 카트 메시지가 있을 경우 처리
			if (cartMsg) {
				alert(cartMsg);
				window.location.href = '/signin';
			}

			// 비활성화된 계정에 대한 메시지 처리
			if (deactivatedError) {
				var confirmRecovery = confirm(deactivatedError);
				if (confirmRecovery) {
					// 확인 시 복구 페이지로 이동
					window.location.href = '/board/recoverWrite?userNo=' + userNo;
				} else {
					// 취소 시 명시적으로 로그인 페이지로 이동
					window.location.href = '/signin';
				}
			}

			// 일반 에러 메시지가 있을 경우 처리
			if (errorMessage && errorMessage.innerText.trim() !== "") {
				alert(errorMessage.innerText.trim());
			}
		};
		/*]]>*/
	</script>
</body>

</html>