<div  th:fragment="sidebar">
	<div class="sidebar">
	    <div class="logo">
	        <a href="/admin/page/adminIndex" class="adminIndexIn">
	            <h2>관리자 페이지zzzzz</h2>
	        </a>
	    </div>
	    <ul>
	        <li>
	            <a href="#">User</a>
	            <ul>
	                <li><a href="/admin/page/adminUsers">회원 정보</a></li>
	                <li><a href="/admin/page/adminRecovery">복구 신청</a></li>
	            </ul>
	        </li>
	        <li>
	            <a href="#">Event</a>
	            <ul>
	                <li><a href="/admin/page/adminEvent">이벤트 리스트</a></li>
	                <li><a href="/admin/page/adminCouponList">쿠폰 리스트</a></li>
	                <li><a href="/admin/page/adminUserCoupon">유저 쿠폰 리스트</a></li>
	            </ul>
	        </li>
	        <li>
	            <a href="#">Shop</a>
	            <ul>
	                <li><a href="/admin/adminShopList">상점 리스트</a></li>
	                <li><a href="/admin/page/adminOrdered">상점 구매내역</a></li>
	            </ul>
	        </li>
	        <li>
	            <a href="#">Notice</a>
	            <ul>
	                <li><a href="/admin/page/adminNotice">Notice</a></li>
	                <li><a href="/admin/adminFAQ">자주 묻는 질문</a></li>
	                <li><a href="/admin/inquiry">문의 사항</a></li>
	            </ul>
	        </li>
	        <li>
	            <a href="#">Review</a>
	            <ul>
	                <li><a href="/admin/adminReview">리뷰 관리</a></li>
	            </ul>
	        </li>
	    </ul>
	</div>
</div>
