@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;700;900&display=swap");
/* font-family: 'Noto Sans KR', sans-serif; */
/* Light 300 */
/* Regular 400 */
/* Medium 500 */
/* Bold 700 */
/* Black 900 */

.ani {
	opacity: 0;
	transform: translateY(15px);
	transition: all 1s;
}

.ani_T {
	opacity: 0;
	transform: translateY(-15px);
	transition: all 1s;
}

.ani_L {
	opacity: 0;
	transform: translateX(-15px);
	transition: all 1s;
}

.ani_R {
	opacity: 0;
	transform: translateX(15px);
	transition: all 1s;
}

.ani_O {
	opacity: 0;
	transition: all 1s;
}

.aniIn {
	opacity: 1;
	transform: translateY(0);
}

.aniIn_T {
	opacity: 1;
	transform: translateY(0);
}

.aniIn_L {
	opacity: 1;
	transform: translateX(0);
}

.aniIn_R {
	opacity: 1;
	transform: translateX(0);
}

.aniIn_O {
	opacity: 1;
}

.t-delay0_1 {
	transition-delay: 0.1s;
}

.t-delay0_2 {
	transition-delay: 0.2s;
}

.t-delay0_3 {
	transition-delay: 0.3s;
}

.t-delay0_4 {
	transition-delay: 0.4s;
}

.t-delay0_5 {
	transition-delay: 0.5s;
}

.t-delay0_6 {
	transition-delay: 0.6s;
}

.t-delay0_7 {
	transition-delay: 0.7s;
}

.t-delay0_8 {
	transition-delay: 0.8s;
}

.t-delay0_9 {
	transition-delay: 0.9s;
}

.t-delay1 {
	transition-delay: 1s;
}

/* wrap */
html {
	height: 100%;
	background: #ffffff;
	font-family: "Noto Sans KR", sans-serif;
	scroll-behavior: smooth;
}

body {
	font-size: 16px;
	line-height: 1;
	letter-spacing: -1.3px;
	word-break: keep-all;
	color: #000;
}

.wrep {
	width: 100%;
	max-width: 1920px;
	min-width: 1400px;
	position: relative;
	margin: 0 auto;
	overflow: hidden;
}

section {
	width: 100%;
	max-width: 1920px;
	min-width: 1400px;
	margin: 0 auto;
	position: relative;
	overflow: hidden;
}

a {
	text-decoration: none;
	color: #000;
}

#common {
	width: 100%;
	max-width: 1920px;
	min-width: 1400px;
	margin: 0 auto;
}

.viewLink {
	width: 160px;
	height: 46px;
	background: #6666ff;
	border: 1px solid white;
	border-radius: 50px;

	display: flex;
	justify-content: center;
	align-items: center;

	font-size: 16px;
	font-weight: 500;
	text-transform: uppercase;
	color: #ffffff;
}

/* header */
.header {
  height: 120px;

  position: fixed;
  left: 50%;
  top: 0;
  transform: translateX(-50%);
  transition: 2s;
  z-index: 5000;

  background: white;
}
/* .header.active {
  top: -100%;
} */
.header .inner {
  width: 90.4%;
  height: 100%;
  margin: 0 auto;

  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .inner .logo {
  width: 7.24%;
}
.header .inner .logo a {
  width: 100%;
  display: block;
}
.header .inner .logo a img {
  width: 100%;
  display: block;
  object-fit: cover;
}

.menuWrap {
}
.menuWrap .menu {
  display: flex;
  justify-content: center;
  align-items: center;
}
.menuWrap .menu .qMenu {
}
.menuWrap .menu .qMenu a {
  font-size: 16px;
  font-weight: 700;
  color: #272727;
  margin: 0 30px;
  display: block;
}
.menuWrap .menu .qMenu a:hover {
  color: #6633ff;
}

.userWrap {
  display: flex;
  justify-content: center;
  align-items: center;
}
.userWrap a {
  font-size: 16px;
  font-weight: 700;
  display: block;
  color: #6633ff;
}
.userWrap a.login {
}
.userWrap a.memberJoin {
}
.userWrap .line {
  width: 2px;
  height: 21px;
  background: #6666ff;
  display: block;
  margin: 0 20px;
}

/* footer */
.footer {
	background: #f6f3ff;
}

.footer .inner {
    width: 89.6%;
    margin: 0 auto;
    padding: 50px 0;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.footer .desc {}

.footer .desc .footLogo {
	margin-bottom: 32px;
	display: block;
}

.footer .desc .footLogo img {}

.footer .desc h2 {
	font-size: 26px;
	font-weight: 700;
	color: #6633ff;
}

.footer .desc div {
	margin: 36px 0 32px;
}

.footer .desc div p {
	font-size: 14px;
	font-weight: 400;
	color: #5a5a5a;
	margin-bottom: 16px;
}

.footer .desc div p:last-child {
	margin-bottom: 0;
}

.footer .desc h3 {
	font-size: 16px;
	font-weight: 400;
	color: #5a5a5a;
}

.footer .desc h3 span {
	font-weight: 700;
	color: #272727;
}

.footer .footBtn {
	width: 160px;
	height: 42px;
	background: #6633ff;
}

.footer .footBtn a {
	width: 100%;
	height: 100%;

	display: flex;
	justify-content: center;
	align-items: center;

	font-size: 16px;
	font-weight: 400;
	color: #ffffff;
}