<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
	<title>장바구니</title>
	<!--이거 4개는 항상 가져가기 -->
	<link rel="stylesheet" href="/css/reset.css" />
	<link rel="stylesheet" href="/css/header.css" />
	<script src="/js/common.js" defer></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
	<script src="/js/cart/cart.js" defer></script>
	<link rel="stylesheet" href="/css/cart/cart.css" />
</head>

<body>
	<th:block th:include="~{fragments/header.html::header}"></th:block>
	<div class="container">
		<div th:if="${cartEntities == null}">
			<p>장바구니가 비어있습니다.</p>
			<button type="button" onclick="goToShop()">쇼핑하러 가기</button>
		</div>
		<div class="main-content" th:unless="cartEntities == null">
			<input type="hidden" id="cart-size" th:value="${cartSize}" />
			<div class="cart-item" th:each="cartEntity, iterStat : ${cartEntities}">
				<input type="hidden" id="cart-no" th:value="${cartEntity.CNo}" />
				<img class="product-image" th:src="${cartEntity.shopEntity.shopMainPhoto}" alt="상품 이미지" />
				<div class="product-details">
					<p class="product-title" th:text="${cartEntity.shopEntity.shopTitle}"></p>
					<p class="product-price">₩<span
							th:text="${#numbers.formatDecimal(cartEntity.shopEntity.shopPrice, 3, 0, 'COMMA')}"></span>
					</p>
					<p class="product-quantity">수량: <span th:text="${cartEntity.quantity}"></span></p>
					<div class="product-options">
						<p>옵션: <span th:text="${shopOptionValues[iterStat.index].shopOptionValue}"></span></p>
					</div>
				</div>
				<button class="remove-button" onclick="removeItem(this)">삭제</button>
			</div>
		</div>
		<div class="shipping-info">
			<h2>배송 정보</h2>
			<form>
				<div class="form-group">
					<label for="recipient-name">받으시는 분:</label>
					<input type="text" id="recipient-name" name="recipientName" placeholder="이름을 입력하세요" required>
				</div>
				<div class="form-group address-group">
					<label for="address">주소:</label>
					<div class="address-part">
						<input type="text" id="sample4_postcode" placeholder="우편번호" readonly>
						<input type="button" onclick="sample4_execDaumPostcode()" value="우편번호 찾기">
					</div>
					<input type="text" id="sample4_roadAddress" placeholder="도로명주소" readonly>
					<input type="text" id="sample4_jibunAddress" placeholder="지번주소" readonly>
					<span id="guide"></span>
					<input type="text" id="sample4_detailAddress" placeholder="상세주소">
					<input type="text" id="sample4_extraAddress" placeholder="참고항목">
				</div>
				<div class="form-group">
					<label for="phone">휴대전화:</label>
					<input type="text" id="phone" name="phone" placeholder="휴대전화 번호를 입력하세요(숫자 11자리 입력, -생략)" required>
				</div>
				<div class="form-group">
					<label for="email">이메일:</label>
					<input type="email" id="email" name="email" placeholder="이메일을 입력하세요" required>
				</div>
				<div class="form-group">
					<label for="message">배송 메시지:</label>
					<textarea id="message" name="message" placeholder="배송에 관한 메시지를 입력하세요"></textarea>
				</div>
			</form>
			<div class="coupon-section">
				<h2>쿠폰 적용</h2>
				<div class="form-group">
					<label for="coupon-select">쿠폰 선택:</label>
					<select id="coupon-select" name="couponSelect" onchange="applyCoupon()">
						<option value="">쿠폰을 선택하세요</option>
						<div th:if="${couponEntities != null}">
							<div th:each="couponEntity : ${couponEntities}">
								<option th:value="${couponEntity.couponDiscount}" th:text="${couponEntity.couponName}"
									th:attr="data-coupon-no=${couponEntity.couponNo}">
								
								</option>
							</div>
						</div>
						<div th:if="${couponEntities == null || #lists.isEmpty(couponEntities)}">
							<option value="no">쿠폰이 없습니다.</option>
						</div>
					</select>

				</div>
				<div id="coupon-message" class="form-group"></div>
			</div>
		</div>
		<div class="checkout">
			<h2>결제 정보</h2>
			<div class="checkout-summary">
				<div class="summary-item">
					<span>총 주문 금액:</span>
					<span id="total" th:text="'₩' + ${total}"></span>
				</div>
				<div class="summary-item">
					<span>총 할인 금액:</span>
					<span id="couponDiscount">₩ 0</span>
				</div>
				<div class="summary-item">
					<span>총 결제 예정 금액:</span>
					<span id="finalPay" th:text="'₩' + ${total}"></span>
				</div>
			</div>
			<button class="orderBtn">구매하기</button>
		</div>
		<script src="https://cdn.iamport.kr/v1/iamport.js"></script>
</body>

</html>