<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>쿠폰 작성</title>
</head>
<body>
    <form action="/admin/coupon/write" method="post">
        <div>
            <label for="couponName">쿠폰 이름:</label>
            <input type="text" id="couponName" name="couponName" required maxlength="50"/>
        </div>
        <div>
            <label for="couponValue">쿠폰 가치: 안써도돔</label> 
            <input type="number" id="couponValue" name="couponValue" required step="0.01"/>
        </div>
        <div>
            <label for="couponDiscount">쿠폰 할인율:</label>
            <input type="number" id="couponDiscount" name="couponDiscount" required/>
        </div>
        <div>
            <label for="couponLimit">쿠폰 갯수 제한:</label>
            <input type="number" id="couponLimit" name="couponLimit" required/>
        </div>
        <div>
            <label for="couponState">쿠폰 상태:</label>
            <input type="text" id="couponState" name="couponState" required/>
        </div>
        <div>
            <label for="couponStartAt">쿠폰 시작일:</label>
            <input type="date" id="couponStartAt" name="couponStartAt" required/>
        </div>
        <div>
            <label for="couponCreateAt">쿠폰 생성일:</label>
            <input type="date" id="couponCreateAt" name="couponCreateAt" required/>
        </div>
        <div>
            <label for="couponEndAt">쿠폰 종료일:</label>
            <input type="date" id="couponEndAt" name="couponEndAt" required/>
        </div>
        <button type="submit">쿠폰 작성</button>
    </form>
</body>
</html>
